{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">FAQ Page</h1>
  <ul>
    {{range .}}
    {{template "qa" .}}
    {{end}}
  </ul>
</div>
{{template "footer" .}}

{{define "qa"}}
<li><b>{{.Question}}</b> {{.Answer}}</li>
{{end}}